.atom/.apm
.atom/.node-gyp
.atom/.storage
.atom/blob-store
.atom/compile-cache/
.atom/packages
.atom/storage
.atom/themes
.bash_sessions
.bash_history
.bin
.bundle
.byebug_hist
.cache
.config/heroku/*
.CFUserTextEncoding
.dropbox
.DS_Store
.erlang.cookie
.exercism.json
.gem
.git
.guard_history
.heroku
.hex
.mix
.lesshst
.NERDTreeBookmarks
.netrc
.npm
.pgadmin_histoqueries
.pgpass
.psql_history
.rbenv
.rediscli_history
.ssh
.subversion
.Trash
.vim/*
.viminfo
.viminfo.tmp
.viminfz.tmp
.vimlog
.zcompdump
.zcompdump-Devon’s MacBook Air-5.0.8
.zcompdump-Devon’s MacBook Air-5.2
.zcompdump-aieo9024soe319a89dc0-5.3
.zsh_history
.zsh-update
Applications
Desktop
Documents
Downloads
Dropbox
esh
exercism
golang
laptop.log
Library
mac
Movies
Music
Pictures
pgadmin.log
Public
sandbox
.local/
.cargo/
.elm/
.rustup/
.oracle_jre_usage/
.tool-versions-e
.pry_history
.babel.json
.config/configstore/
.kodi
.node-gyp
.sh_history
.yarnrc
.orchardpos.log
.orchardpos/
.virtualenvs
.Private
.Xauthority
.ICEauthority
.config/albert/core.db
.config/caja/
.config/dconf/
.config/discord/
.config/enchant/
.config/evolution/
.config/gcloud/
.config/goa-1.0/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/hexchat/
.config/libreoffice/
.config/menus/
.config/nemo/
.config/pgcli/history
.config/pgcli/log
.config/pulse/
.config/qt5ct/
.config/skypeforlinux/
.config/Slack/
.config/spotify/
.config/tomboy/
.config/VirtualBox/
.config/xplayer/
.dbus/
.dropbox-dist/
.ecryptfs
.gconf/
.gimp-2.8/
.gnome/
.gnupg/
.gtkrc-2.0
.gtkrc-xfce
.mozilla/
.my-git-credentials
.pki/
.sudo_as_admin_successful
.teensy
.thumbnails/
.weechat/
.wget-hsts
.thunderbird/
.xournal/
.xscreensaver
.xsession-errors
.xsession-errors.old
.zcompdump-devon-XPS-13-9370-5.4.2
.zshrc.backup
.zcompdump-aieo9024soe319a89dc0-5.2
.pry_history
.docker/
.kube/
.minikube/
.config/autostart/gnome-keyring-ssh.desktop
.config/xviewer/
.config/zoomus.conf
.zoom/
Videos/
VirtualBox VMs/
*.log
.config/rclone/
.viminfy.tmp
.config/octobox-nativefier-8fa8c9/
.config/yarn/
.config/vlc/
.multirust
.pcsxr/
.sem.yaml
core
.atari800.cfg
.config/PCSX2/
.config/retroarch
.emulationstation
RetroPie/
.password-store/
.config/Franz/
.var/
.config/MineTime
.config/coc/extensions/db.json
.config/git/git-remote-dropbox.json
.config/gh/
.config/transmission/
.config/wireshark/
