[alias]
  l = log --pretty=oneline -n 100 --graph --abbrev-commit
	dropbox = !git-dropbox-manage
[color]
  ui = auto
[push]
	default = current
[credential]
	helper = store --file ~/.my-git-credentials
[user]
	name = Devon Estes
	email = devon.c.estes@gmail.com
	signingkey = 1E741A320219A18C5267BB7B19B6A5AC7E160744
[core]
	excludesfile = /home/devon/.gitignore.global
[pager]
	branch = false
