.atom/.apm
.atom/.node-gyp
.atom/.storage
.atom/blob-store
.atom/compile-cache/
.atom/packages
.atom/storage
.atom/themes
.bash_sessions
.bash_history
.bin
.bundle
.byebug_hist
.cache
.CFUserTextEncoding
.dropbox
.DS_Store
.exercism.json
.gem
.git
.guard_history
.heroku
.hex
.mix
.netrc
.npm
.psql_history
.rbenv
.ssh
.subversion
.Trash
.vim/*
.viminfo
.zcompdump
.zcompdump-Devon’s MacBook Air-5.0.8
.zcompdump-Devon’s MacBook Air-5.2
.zsh_history
.zsh-update
Applications
Desktop
Documents
Downloads
Dropbox
esh
exercism
golang
laptop.log
Library
mac
Movies
Music
Pictures
Public
sandbox
.config/pgcli/history
.config/pgcli/log
.local/
.NERDTreeBookmarks
