[alias]
  l = log --pretty=oneline -n 100 --graph --abbrev-commit
[color]
  ui = auto
[push]
	default = current
[credential]
	helper = osxkeychain
[user]
	name = Devon Estes
	email = devon.c.estes@gmail.com
[core]
	excludesfile = /Users/devoncestes/.gitignore
