[Desktop Entry]
Name=Geary
Name[bs]=Geary
Name[ca]=Geary 
Name[cs]=Geary
Name[da]=Geary
Name[de]=Geary
Name[el]=Geary
Name[es]=Geary
Name[eu]=Geary
Name[fi]=Geary
Name[fr]=Geary
Name[gl]=Geary
Name[he]=Geary
Name[hu]=Geary
Name[id]=Geary
Name[it]=Geary
Name[kk]=Geary
Name[lt]=Geary
Name[nb]=Geary
Name[nl]=Geary
Name[oc]=Geary
Name[pl]=Geary
Name[pt]=Geary
Name[pt_BR]=Geary
Name[ro]=Geary
Name[ru]=Geary
Name[sk]=Geary
Name[sl]=Geary
Name[sr]=Гери
Name[sr@latin]=Geri
Name[sv]=Geary
Name[tr]=Geary
Name[uk]=Geary
Name[zh_CN]=Geary 邮件
Name[zh_TW]=Geary
GenericName=Email
GenericName[ca]=Correu electrònic
GenericName[cs]=E-mail
GenericName[da]=E-mail
GenericName[de]=E-Mail
GenericName[es]=Correo-e
GenericName[fi]=Sähköposti
GenericName[hu]=E-mail
GenericName[id]=Surel
GenericName[it]=Email
GenericName[kk]=Эл. пошта
GenericName[lt]=El. paštas
GenericName[nb]=E-post
GenericName[nl]=E-mail
GenericName[pl]=Poczta
GenericName[pt_BR]=E-mail
GenericName[ru]=Электронная почта
GenericName[sk]=Email
GenericName[sl]=Elektronska pošta
GenericName[sr]=Е-пошта
GenericName[sr@latin]=E-pošta
GenericName[sv]=E-post
GenericName[tr]=E-posta
X-GNOME-FullName=Geary Mail
X-GNOME-FullName[ar]=بريد Geary
X-GNOME-FullName[bs]=Geary Mail
X-GNOME-FullName[ca]=Geary Mail
X-GNOME-FullName[cs]=Pošta Geary
X-GNOME-FullName[da]=Geary mail
X-GNOME-FullName[de]=Geary Mail
X-GNOME-FullName[el]=Αλληλογραφία Geary
X-GNOME-FullName[en_CA]=Geary Mail
X-GNOME-FullName[en_GB]=Geary Mail
X-GNOME-FullName[eo]=Geary Mail
X-GNOME-FullName[es]=Correo Geary
X-GNOME-FullName[et]=Geary
X-GNOME-FullName[eu]=Geary posta
X-GNOME-FullName[fa]=Geary Mail
X-GNOME-FullName[fi]=Geary-sähköposti
X-GNOME-FullName[fr]=Messagerie Geary
X-GNOME-FullName[gl]=Correo Geary
X-GNOME-FullName[he]=דואר אלקטרוני Geary
X-GNOME-FullName[hr]=Geary Mail
X-GNOME-FullName[hu]=Geary levelező
X-GNOME-FullName[id]=Surat Geary
X-GNOME-FullName[it]=Geary Mail
X-GNOME-FullName[ja]=Geary Mail
X-GNOME-FullName[kk]=Geary поштасы
X-GNOME-FullName[km]=Geary Mail
X-GNOME-FullName[lt]=Geary Mail
X-GNOME-FullName[ms]=Mel Geary
X-GNOME-FullName[nb]=Geary e-post
X-GNOME-FullName[nl]=Geary e-mail
X-GNOME-FullName[oc]=Messatjariá Geary
X-GNOME-FullName[pl]=Klient poczty Geary
X-GNOME-FullName[pt]=Geary Mail
X-GNOME-FullName[pt_BR]=Correio eletrônico - Geary
X-GNOME-FullName[ro]=Geary Mail
X-GNOME-FullName[ru]=Почтовый клиент Geary
X-GNOME-FullName[sk]=Geary Mail
X-GNOME-FullName[sl]=Pošta Geary
X-GNOME-FullName[sr]=Геријева пошта
X-GNOME-FullName[sr@latin]=Gerijeva pošta
X-GNOME-FullName[sv]=Geary Mail
X-GNOME-FullName[te]=గేరీ వేగు
X-GNOME-FullName[tr]=Geary Posta
X-GNOME-FullName[uk]=Пошта Geary
X-GNOME-FullName[vi]=Dịch vụ mail Geary
X-GNOME-FullName[zh_CN]=Geary 邮件
X-GNOME-FullName[zh_TW]=Geary 郵件
Comment=Send and receive email
Comment[ar]=ارسال و استقبال البريد الالكتروني
Comment[bs]=Šaljite i primajte e-poštu
Comment[ca]=Envieu i rebeu correus electrònics
Comment[cs]=Odesílejte a přijímejte e-maily
Comment[da]=Send og modtag e-mail
Comment[de]=Senden und empfangen
Comment[el]=Αποστολή και λήψη ηλεκτρονικού ταχυδρομείου
Comment[en_CA]=Send and receive e-mail
Comment[en_GB]=Send and receive e-mail
Comment[eo]=Sendi kaj ricevi retpoŝton
Comment[es]=Envíe y reciba mensajes de correo electrónico
Comment[et]=Send and receive email
Comment[eu]=Bidali eta jaso mezuak
Comment[fa]=ارسال و دریافت ایمیل‌ها
Comment[fi]=Lähetä ja vastaanota sähköpostia
Comment[fr]=Envoyer et recevoir des courriels
Comment[gl]=Enviar e recibir correo
Comment[he]=שליחה וקבלה של דוא״ל
Comment[hr]=Primanje i slanje pošte
Comment[hu]=E-mailek küldése és fogadása
Comment[id]=Kirim dan terima surel
Comment[it]=Invia e riceve email
Comment[ja]=送受信
Comment[kk]=Эл. поштаны жіберу және қабылдау
Comment[km]=ផ្ញើ​និង​ទទួល​អ៊ីមែល
Comment[lt]=Siųsti ir gauti paštą
Comment[ms]=Hantar dan terima emel
Comment[nb]=Send og motta e-post
Comment[nl]=E-mail verzenden en ontvangen
Comment[oc]=Mandar e recebre de corrièrs electronics
Comment[pl]=Wysyłanie i odbieranie poczty
Comment[pt]=Enviar e receber mensagens
Comment[pt_BR]=Envie e receba e-mail
Comment[ro]=Trimite și primește emailuri
Comment[ru]=Отправка и получение электронной почты
Comment[sk]=Odosiela a prijíma emaily
Comment[sl]=Pošlji in prejmi sporočila
Comment[sr]=Шаље и прима е-пошту
Comment[sr@latin]=Šalje i prima e-poštu
Comment[sv]=Skicka och ta emot e-post
Comment[tr]=E-posta gönder ve al
Comment[uk]=Надіслати та одержати пошту
Comment[zh_CN]=发送并接收邮件
Comment[zh_TW]=寄送與收受郵件
Keywords=Email;E-mail;Mail;
Keywords[bs]=Epošta;E-pošta;pošta;
Keywords[ca]=Email;Correu electrònic;Correu;
Keywords[cs]=email;e-mail;mail;pošta;e-pošta;zpráva;zprávy;
Keywords[da]=Email;E-mail;Mail;Post;E-brev;
Keywords[de]=Email;E-Mail;Mail;
Keywords[el]=μήνυμα;ηλεκτρονικό ταχυδρομείο;αλληλογραφία;Email;E-mail;Mail;
Keywords[en_GB]=Email;E-mail;Mail;
Keywords[es]=email;e-mail;correo electrónico;correo-e;
Keywords[eu]=posta;helb.elek;helb.el.;
Keywords[fa]=Email;E-mail;Mail;
Keywords[fi]=Email;E-mail;Mail;Sähköposti;Maili;posti;
Keywords[fr]=Email;E-mail;Messagerie;Courriels;
Keywords[gl]=Correo electrónico;Correo-e;Correo;
Keywords[he]=דוא״ל;דואר אלקטרוני;דואר;
Keywords[hr]=Epošta;E-pošta;Pošta;
Keywords[hu]=Email;E-mail;Levél;
Keywords[id]=Surel;Surat;Email;E-mail;Mail;
Keywords[it]=Email;E-mail;Mail;Posta;
Keywords[kk]=Email;E-mail;Mail;Эл. пошта;электрондық пошта;е-пошта;
Keywords[lt]=El. paštas;E. paštas;Paštas;
Keywords[ms]=Emel;E-mel;Mel;
Keywords[nb]=E-post;E-brev;Post;
Keywords[nl]=Email;E-mail;Mail;
Keywords[oc]=Email;E-mail;Messatjariá;Corrièrs electronics;
Keywords[pl]=Email;E-mail;Mail;Poczta;Skrzynka;Wiadomość;Wiadomości;mejl;majl;
Keywords[pt]=Email;E-mail;Mail;
Keywords[pt_BR]=Email;E-mail;Mail;Correio eletrônico;e-mails;mensagens;
Keywords[ro]=Email;E-mail;Mail;Poștă;Electronică;
Keywords[ru]=Электронная;Почта;Email;E-mail;Mail;
Keywords[sk]=email;e-mail;pošta;
Keywords[sl]=elektronska pošta;epošta;e-pošta;pošta;sporočila;email;mail;
Keywords[sr]=пошта;е-пошта;ел. пошта;електронска пошта;
Keywords[sr@latin]=pošta;e-pošta;el. pošta;elektronska pošta;
Keywords[sv]=Email;E-mail;Mail;Epost;E-Post;
Keywords[tr]=Eposta;E-posta;Posta;E Posta;Elektronik Posta;Mektup;
Keywords[uk]=Пошта;Лист;
Keywords[zh_CN]=Email;E-mail;Mail;电子邮件;邮件;邮箱;
Keywords[zh_TW]=Email;E-mail;Mail;電子郵件;電郵;郵件;信件;收信;寄信;
Icon=org.gnome.Geary
TryExec=geary
Exec=geary --hidden
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
StartupNotify=true
NoDisplay=true
