[Desktop Entry]
Type=Application
Name=Terminator
Icon=terminator
TryExec=terminator
Exec=terminator
Comment=Multiple terminals in one window
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Keywords=terminal;shell;prompt;command;commandline;
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Terminator
Comment[en_US]=Multiple terminals in one window
X-GNOME-Autostart-Delay=0
